<div class="wrapper">
</div>
<div class="address">
  <h3 class="text-center mt-4">Please enter your address</h3>
  <form action="/landing" method="POST" class="mt-4 mx-auto">
    <div class="form-group">
    <input type="text" name="address" class="form-control" placeholder="123 John St. New York NY 10128" required>
    </div>
    <button type="submit" class="btn btn-success mx-auto w-50 btn-block" >Submit</button>
  </form>
</div>
